.DS_Store
node_modules/

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Built files
dist/
private/**/*.js
src/**/*.js

# Temporary build files
*.tsbuildinfo
vite.config.ts.timestamp-*
