@import 'variables';

.#{$platform} {
  // The hovering tooltip
  &__mapping-tooltip {
    font-family: $font-family;
    font-size: $font-size;
    position: fixed;
    z-index: 99999;
    display: none;
    margin-top: -5px;
    margin-left: 20px;
    padding: 0.35em 0.45em;
    user-select: none;
    pointer-events: none;
    color: $white;
    border-radius: $border-radius;
    background-color: $secondary;
    box-shadow: $box-shadow;

    // Arrow on the left side of the tooltip
    &:before {
      position: absolute;
      top: 6px;
      left: -5px;
      width: 10px;
      height: 10px;
      content: ' ';
      transform: rotate(45deg);
      // Align arrow with cursor
      background: $secondary;
    }

    &__content {
      hr {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border: none;
        border-bottom: 1px solid $white;
      }

      &__escape {
        font-family: monospace;
        margin-right: 2px;
        padding: 3px 5px;
        color: $dark-gray;
        border-radius: $border-radius;
        background-color: $white;
      }
    }

    &--visible {
      display: flex;
    }
  }

  // The wrapper span around hovered elements
  &__mapping-field {
    cursor: pointer;
    // We support Chrome 54+ and filter is a 53+ feature (without vendor prefix)
    color: $black;
    outline: 3px solid $primary;
    background-color: transparentize($secondary, 0.75);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
  }
}
