$apps: (
  myparcel: #62b8cc,
  flespakket: #ff823a,
  sendmyparcel: #43959c
);

.loader {
  :before {
    content: ' ';
    border: 2px solid red;
    border-top: none;
    border-radius: 100%;
    animation: rotate 1s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-size: 16px;
  font-family: -apple-system, sans-serif;
  min-width: 300px;
}

.app {
  display: flex;
  padding: 2rem 0;

  > img {
    margin: auto;
  }

  @each $app in map_keys($apps) {
    &--#{$app} {
      background-color: map_get($apps, $app);
    }
  }
}
